<!DOCTYPE html>
<html>
  <head>
    <title>Movie Recommender</title>
  </head>
  <body>
    <h1>Movie Recommender</h1>
    <form method="POST" action="/">
      <label for="algorithm">Select Algorithm:</label>
      <select name="algorithm" id="algorithm">
        <option value="SVD">SVD</option>
        <option value="SVDpp">SVDpp</option>
        <option value="ALS">ALS</option>
        <option value="SGD">SGD</option>
        <option value="KNNZ">KNN_Z_Score</option>
        <option value="KNNM">KNN_Mean</option>
        <option value="KNN">KNN</option>
        <option value="METRICS">METRICS</option>
      </select>
      <br>
      <br>
      <input type="submit" value="Select User">
    </form>
  </body>
</html>
