<!DOCTYPE html>
<html>
  <head>
    <title>Rate Movie</title>
  </head>
  <body>
    <h1>Rate a Movie</h1>
    <form method="POST" action="{{ url_for('rate_movie') }}">
      <label for="title">Movie Title:</label>
      <p>{{ title }}</p>
      <input type="hidden" name="movie_id" value="{{ movie_id }}">
      <br>
      <label for="rating">Rating:</label>
      <select name="rating">
        <option value="">Skip</option>
        <option value="1.0">1.0</option>
        <option value="1.5">1.5</option>
        <option value="2.0">2.0</option>
        <option value="2.5">2.5</option>
        <option value="3.0">3.0</option>
        <option value="3.5">3.5</option>
        <option value="4.0">4.0</option>
        <option value="4.5">4.5</option>
        <option value="5.0">5.0</option>
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
