<!doctype html>
<html>
  <head>
    <title>Movie Recommendation System</title>
  </head>
  <body>
  <h1>Select a User</h1>
  <form method="POST">
    <label for="user_id">Enter user ID:</label>
    <input type="number" name="user_id" id="user_id">
    <br>
    <button type="submit" name="recommend_movies">Recommend for Selected User</button>
    <br>
    <br>  
    <button type="submit" name="rate_movie">Rate Movies for youself</button>
  </form>
  <br>
  <a href="{{ url_for('index') }}">Back to Algorithm Selection</a>
  </body>
</html>
